<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="com.hp.opr.qa.testclass.Listener"/>
    </listeners>
    <test name="Listeners_program">
        <classes>
            <class name="com.hp.opr.qa.testclass.TestLogin"></class>
        </classes>
    </test>
</suite>